<%- include('../layouts/header'); -%>

<div id="chat" class="w-full px-[20%]  h-screen bg-gray-100 pt-8">

    <div class="overflow-y-auto h-full pb-8">
        <div  v-for="val, indx in questions">
        <div class="flex gap-2.5 justify-end">
            <div class="">
            <div class="grid mb-2">
                <h5 class="text-right text-gray-900 text-sm font-semibold leading-snug pb-1">You</h5>
                <div class="px-3 py-2 bg-indigo-600 rounded">
                <h2 class="text-white text-sm font-normal leading-snug" v-html="questions[indx]"></h2>
                </div>
            </div>
            </div>
        </div>
        <div class="flex gap-2.5 mb-4">
        <div v-if="answers[indx] != undefined" class="grid  w-[100%]">
            <h5 class="text-gray-900 text-sm font-semibold leading-snug pb-1">Eat and Worry</h5>
            <div class="grid border-white-200">
            <div class="shadow-md px-3.5 py-2 w-[100%]  bg-white rounded justify-start  items-center gap-3 inline-flex">
                <md class="text-gray-900 text-sm font-normal leading-snug" v-html="answers[indx]"></md>

            </div>
            </div>
        </div>
        </div>
        </div>

    </div>
    
    <div class="space-y-1 w-full  pr-[33%] mr-8 fixed bottom-1 border-gray-200 h-16">
        <div class="flex items-center px-3 py-3 rounded-lg">
            <input
                @keyup.enter="sendRequest"
                v-model="message"
                class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-md border border-gray-200 focus:ring-gray-200 focus:border-gray-200"
                placeholder="Your message..."
            />
            <button
                @click="sendRequest"
                type="button"
                class="inline-flex justify-center p-2 text-black rounded-full cursor-pointer"
            >
                <svg
                    class="w-5 h-5 rotate-90 rtl:-rotate-90"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 18 20"
                >
                    <path
                        d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"
                    />
                </svg>
                <span class="sr-only">Send message</span>
            </button>
        </div>
    </div>
</div>

  
<script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script> 
<script>
    
    const app = new Vue({
        el: "#chat",
        data: {
          message: "",
          response: "",
          questions: [],
          answers:[]
        },
        methods:{
          async sendRequest(){
            this.response = "";
            this.questions.push(this.message)
            let message =  this.message;
            this.message = "";



            const response = await fetch("/web/chat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({"message": message})
            })
            let result = await response.json()
            this.response = result.response
            this.answers.push(this.response)

          }
        }

    })
</script>