<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat and Worry</title>
    <link rel="stylesheet" href="../css/build/tailwind.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <script src="https://unpkg.com/vue@2.7.14/dist/vue.global.prod.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script> 
    <style>
      .multiselect__tag{
        background-color: #dbeafe;
        color: #185494;
      }
      .multiselect__tag-icon:hover{
        background-color: #185494;
      }
      .multiselect__tag-icon:after{
        color: #185494;
      }
      .multiselect__option--highlight{
        background-color: #dbeafe;
        color: #185494;
      }
      .multiselect__option--highlight:after{
        background-color: #dbeafe;
        color: #185494;
      }
      .multiselect__content-wrapper{
        overflow: scroll;
        height: 180px;
      }
      .truncate-t {
        display: table;
        width: 100%;
      }

      .truncate-t:before {
        display: table-column;
        width: 100%;
        content: '';
      }

      .truncate-td {
        display: table-cell;
        max-width: 1px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    </style>
  </head>